.trigger {
    background-color: #444;
    color: #999;
    padding: 5px;
    psoition: relative;
    text-align: center;
}

.trigger:hover {
    cursor: pointer;
}

.trigger-popup {
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    height: 32px;
    font-size: 16px;
    gap: 16px;
    padding: 0 20px;
}

.trigger-popup-item {
    position: relative;
}

.trigger-popup-item:hover::after {
    content: attr(data-content);
    font-size: 32px;
    left: -12px;
    position: absolute;
    top: -10px;
}